/* Configuración general */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: rgb(133, 131, 131); /* Fondo gris */
    display: flex;
    flex-direction: column; /* Organizar en columnas */
    align-items: center;
    justify-content: center;
}

/* Header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 1.2em;
}

/* Contenedor principal */
main {
    margin-top: 100px; /* Separación debajo del header */
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Canvas del juego */
canvas {
    border: 1px solid white;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

